@media(max-width: 480px) {
	.start .star .head-text h1 {
		font-size: 35px;
	}
	
	.start .star .head-text  {
		width: 250px;
	}

	.second .second_photos .photo {
		 height: 250px;
	}
	
	
	.third h1 {
		font-size: 40px;
	}

	.fifth .column {
		 margin-top: 30px;
		 margin-bottom: 40px;
	}

	
}

@media(max-width: 768px) {
	.second .second_details {
         margin-top: 40px;
     }
     .second .second_details .det_wrap {
            margin-top: 30px;
        }

      .second .second_details .det_wrap  .det {
      	margin-top: 20px;
      }	

      .second .second_details .det_wrap .det .caption {
      	margin-bottom: 5px;
      }

	.fourth .det_wrap4 {
		padding-bottom: 50px;
	}
	.fourth .det_wrap4 .det4 {
		margin-bottom: 20px;
	}
	.fourth .det_wrap4 .det4 .caption{
		margin-bottom: 10px;
	}

	.fourth .det_wrap4 .det4 .txt{
		padding-bottom: 35px;
	}

	.fifth .legacy_wrap {
      background-color: #fff;
      box-shadow: 0 0 62px rgba(0, 0, 0, 0.05);
	}

	footer .foot {
      margin-top: 20px;
	}	

	footer .foot .ff form .forms h3{
      margin-top: 30px;
	}	

	footer .foot .ss h3{
      margin-top: 20px;
	}	

	footer .lists{
      margin-top: 20px;
	}	

	footer .lists .list{
   		margin-top: 20px;
    	margin-bottom: 20px;
	}	

	}

	@media(max-width: 992px) {
		.second .second_photos .photo_3 {
		  background-image: none;
		  background-color: #bd8cbf;
		}
		.second .second_photos .photo_4 p{
			padding-bottom: 10px;
		}

	}

	@media(max-width: 1220px) {
		.container {
		   width: 85%;
		}
	}