body h1, body h2, body p, body strong, body h3, body input, body li {
  font-family: 'Open Sans', sans-serif; }

body p {
  font-size: 12px; }

.container {
  margin: 0 auto;
  width: 65%; }

.start {
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover; }
  .start .star {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    .start .star .head-text {
      width: 350px; }
      .start .star .head-text h1 {
        font-size: 45px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 15px; }
      .start .star .head-text p {
        color: #fff;
        line-height: 1.7; }
    .start .star .logo {
      padding-top: 35px; }

.second {
  height: auto;
  background-color: #fff; }
  .second .right-wrap {
    display: flex;
    align-items: flex-end; }
  .second .rr {
    padding-top: 80px; }
    .second .rr h2 {
      font-size: 32px;
      font-weight: 300;
      color: #222626; }
    .second .rr .left p {
      margin-top: 20px;
      color: #959595;
      line-height: 1.7; }
    .second .rr .right p {
      margin-top: 20px;
      color: #959595;
      line-height: 1.7; }
  .second .second_photos_1 {
    margin-top: 80px; }
  .second .second_photos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .second .second_photos .photo {
      height: 220px;
      background-color: red; }
      .second .second_photos .photo h2 {
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        padding: 40px 0 20px 20px; }
      .second .second_photos .photo p {
        color: #fff;
        line-height: 1.7;
        padding: 0 10px 30px 20px; }
      .second .second_photos .photo strong {
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        padding-left: 20px; }
    .second .second_photos .photo_1 {
      background-color: #f5989d; }
    .second .second_photos .photo_2 {
      background-color: #615f7d; }
    .second .second_photos .photo_3 {
      background-image: url("../img/1.jpg"); }
    .second .second_photos .photo_4 {
      width: 600px;
      background-image: url("../img/2.jpg"); }
    .second .second_photos .photo_5 {
      background-color: #82ca9c; }
  .second .second_details {
    margin-top: 80px; }
    .second .second_details h2 {
      font-size: 32px;
      font-weight: 300;
      color: #222626; }
    .second .second_details .det_wrap {
      margin-top: 60px; }
      .second .second_details .det_wrap .det {
        width: 200px; }
        .second .second_details .det_wrap .det .caption {
          font-weight: 600;
          color: #67676d;
          margin-bottom: 20px; }
        .second .second_details .det_wrap .det p {
          color: #959595;
          line-height: 1.7; }

.third {
  display: flex;
  margin-top: 80px;
  height: 100vh;
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  align-items: flex-end; }
  .third .aaa {
    margin-bottom: 100px; }
  .third h1 {
    font-size: 45px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.2; }
  .third p {
    color: #fff;
    line-height: 1.7;
    margin-bottom: 15px; }
  .third strong {
    padding-top: 20px;
    font-size: 13px;
    font-weight: 700;
    color: #fff; }

.fourth {
  background-color: #82ca9c; }
  .fourth h2 {
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: 300;
    color: #fff; }
  .fourth .det_wrap4 .det4 .caption {
    font-weight: 600;
    margin-bottom: 20px; }
  .fourth .det_wrap4 .det4 p {
    color: #fff;
    line-height: 1.7; }
  .fourth .det_wrap4 .det4 .txt {
    padding-bottom: 100px; }

.fifth {
  background-color: #f6f7fa; }
  .fifth .team_plan {
    background-color: #fff;
    box-shadow: 0 0 62px rgba(0, 0, 0, 0.05); }
    .fifth .team_plan .mostpopular {
      margin: 35px 0 0 30px;
      width: 80px;
      background-color: #bd8cbf;
      margin-bottom: 15px;
      padding: 5px 7px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 9px;
      color: #fff;
      border-radius: 5px;
      text-align: center; }
  .fifth .column {
    margin-top: 80px;
    margin-bottom: 80px; }
    .fifth .column h2 {
      padding-top: 5px;
      padding-left: 30px;
      font-size: 30px;
      font-weight: 300;
      color: #2e3b4e; }
    .fifth .column p {
      padding: 15px 30px 25px;
      color: #8297a7;
      line-height: 1.8; }
    .fifth .column button {
      text-transform: uppercase;
      color: #fff;
      font-size: 11px;
      letter-spacing: 2px;
      background-color: #82ca9c;
      border-style: none;
      border-radius: 2px;
      padding: 13px 13px;
      font-weight: 600;
      border: 2px solid #82ca9c;
      width: 130px;
      margin-left: 30px;
      outline: none;
      cursor: pointer; }
    .fifth .column button:hover {
      background-color: #fff;
      color: #82ca9c;
      border: 2px solid #82ca9c; }
    .fifth .column ul {
      padding: 15px 30px; }
    .fifth .column li {
      display: inline;
      font-size: 21px;
      padding-right: 8px;
      padding-bottom: 30px; }
    .fifth .column a {
      color: #c5c5c5; }
    .fifth .column a:hover {
      color: #82ca9c; }
    .fifth .column .legacy {
      width: 80px;
      margin: 35px 0 0 30px;
      background-color: #e1e1e1;
      margin-bottom: 15px;
      padding: 5px 7px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 9px;
      color: #fff;
      border-radius: 5px;
      text-align: center; }

footer {
  background-color: #192431; }
  footer .foot {
    margin-top: 100px; }
  footer h3 {
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 20px; }
  footer p {
    font-size: 11px;
    color: #fff;
    line-height: 1.8; }
  footer .spam {
    color: #57697f;
    width: 70%;
    margin-top: 10px; }
  footer .forms input {
    display: inline-block;
    width: 80%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 10px;
    font-size: 12px;
    background-color: #fff; }
  footer .lists {
    margin-top: 30px;
    padding-bottom: 130px; }
  footer .list {
    margin-left: 0px; }
    footer .list li {
      list-style-type: none;
      color: #f6f7fa;
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 10px; }
