body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

.menu {
  display: flex;
  justify-content: flex-end; }
  .menu ul {
    display: none; }
  .menu button {
    display: none; }

.header {
  height: 100vh;
  background-image: url("../img/bg_header.jpg");
  background-size: cover; }
  .header .header_bar .head_logo {
    margin-top: 33px;
    margin-left: 35px; }
  .header .header_bar .active ul {
    display: flex;
    margin-top: 40px;
    margin-bottom: 0; }
    .header .header_bar .active ul li {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 400;
      margin-right: 30px; }
      .header .header_bar .active ul li a {
        text-decoration: none;
        color: #919395;
        display: block; }
    .header .header_bar .active ul li:hover a {
      color: #2f2f30; }
  .header .header_bar .active .menu_list {
    position: relative; }
    .header .header_bar .active .menu_list .arr_down {
      position: absolute;
      top: 1px;
      right: -10px;
      color: #919395; }
    .header .header_bar .active .menu_list .menu_drop {
      position: absolute;
      display: none;
      margin-top: 10px; }
      .header .header_bar .active .menu_list .menu_drop li {
        width: 0px; }
        .header .header_bar .active .menu_list .menu_drop li a {
          color: #919395;
          padding: 5px 10px 5px 0;
          width: 50px; }
    .header .header_bar .active .menu_list .drop_active {
      position: relative;
      display: block; }
  .header .header_bar .active button {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    background-color: #000;
    color: #fff;
    border: none;
    height: 42px;
    padding: 0 20px;
    font-weight: 600;
    margin-top: 26px;
    outline: none;
    margin-bottom: 0;
    cursor: pointer; }
  .header .header_bar .active button:hover {
    color: #FF6347; }
  .header .header_bar .menu-toggle {
    width: 30px;
    height: 27px;
    background-color: rgba(238, 239, 244, 0.1);
    margin-top: 33px;
    margin-left: 30px;
    cursor: pointer;
    margin-bottom: 145px; }
    .header .header_bar .menu-toggle span {
      width: 20px;
      height: 2px;
      display: block;
      background: #000;
      border-radius: 2px;
      margin: 5px 5px; }
  .header .header_text {
    margin-top: 30px;
    margin-left: 35px; }
    .header .header_text h1 {
      font-size: 64px;
      font-weight: 200;
      text-transform: uppercase;
      margin-left: -8px; }
    .header .header_text h3 {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase; }
  .header .text_disable {
    display: none; }
  .header .wrap {
    width: 100%;
    height: 100%; }
  .header .layout {
    background-color: rgba(0, 0, 0, 0.1); }

.second_items {
  margin-top: 80px; }
  .second_items .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0 55px;
    margin-bottom: 80px; }
    .second_items .items img {
      width: 36px;
      align-self: center; }
    .second_items .items .icon_1 {
      margin-top: 9px; }
    .second_items .items .icon_3 {
      margin-top: 10px;
      margin-bottom: 8px; }
    .second_items .items h2 {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      padding-top: 25px;
      margin-bottom: 14px;
      line-height: 1.6; }
    .second_items .items .last-column {
      padding: 0;
      margin-bottom: 0px; }
    .second_items .items p {
      font-size: 12px;
      color: #a6a7a8;
      font-weight: 300; }
    .second_items .items a {
      text-decoration: none;
      color: #232323;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600; }
    .second_items .items .new {
      display: inline-block;
      font-size: 8px;
      color: #fff;
      background-color: #26e6e6;
      padding: 5px 10px;
      border-radius: 11px;
      margin-left: 8px; }

.phone {
  background-color: #26e6e6; }
  .phone .phone_row {
    position: relative; }
    .phone .phone_row .phone_image {
      position: absolute;
      top: 0; }
    .phone .phone_row .phone_img {
      width: 700px;
      margin-top: 50px;
      margin-left: 100px; }
    .phone .phone_row .pp {
      margin-right: 0px;
      margin-left: 0px; }
    .phone .phone_row .phone_column {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      margin: 60px 125px 100px 40px; }
      .phone .phone_row .phone_column .media {
        margin-top: 10px; }
        .phone .phone_row .phone_column .media img {
          width: 40px;
          margin-left: 27px;
          margin-right: 10px; }
        .phone .phone_row .phone_column .media .media-body {
          padding: 5px 40px 0 10px; }
          .phone .phone_row .phone_column .media .media-body h5 {
            margin: 5px 0 12px 0;
            font-size: 14px;
            font-weight: 600; }
          .phone .phone_row .phone_column .media .media-body p {
            font-size: 12px;
            color: #a5a5a5;
            line-height: 1.6; }
      .phone .phone_row .phone_column button {
        display: block;
        text-transform: uppercase;
        font-size: 11px;
        background-color: #000;
        color: #fff;
        border: none;
        padding: 14px 20px;
        font-weight: 600;
        outline: none;
        margin-bottom: 0;
        cursor: pointer; }
      .phone .phone_row .phone_column button:hover {
        color: #FF6347; }

.build_it {
  margin-top: 70px; }
  .build_it .build_text {
    text-align: center; }
    .build_it .build_text h1 {
      font-size: 69px;
      font-weight: 200;
      margin-bottom: 20px; }
    .build_it .build_text p {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 70px; }

.build_columns {
  background-color: #f5f6f8;
  position: relative; }
  .build_columns .build_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 65px 0; }
    .build_columns .build_column h2 {
      font-size: 16px;
      font-weight: 600;
      padding-top: 25px;
      margin-bottom: 14px; }
    .build_columns .build_column p {
      font-size: 12px;
      color: #929394;
      font-weight: 400; }
    .build_columns .build_column a {
      text-decoration: none;
      color: #232323;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600; }
  .build_columns .ipad_row {
    margin-top: 70px;
    background-color: #000; }
    .build_columns .ipad_row .ipad_text {
      padding: 75px 20px 0 85px; }
      .build_columns .ipad_row .ipad_text h1 {
        color: #fff;
        font-size: 48px;
        font-weight: 200;
        margin-bottom: 30px; }
      .build_columns .ipad_row .ipad_text p {
        color: #807f7f;
        font-size: 13px;
        padding-right: 120px;
        margin-bottom: 80px; }
      .build_columns .ipad_row .ipad_text button {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        background-color: #26e6e6;
        padding: 13px 45px;
        border-radius: 21px;
        border: none;
        margin-bottom: 80px;
        outline: none;
        cursor: pointer; }
    .build_columns .ipad_row .ipad_column {
      position: absolute;
      right: 0;
      padding-top: 200px; }
      .build_columns .ipad_row .ipad_column .ipad {
        width: 600px;
        height: 500px; }

.features {
  background-color: #f5f6f8;
  padding-top: 250px; }
  .features .features_title {
    text-align: center; }
    .features .features_title h2 {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 40px; }
    .features .features_title p {
      font-size: 14px;
      font-weight: 600;
      padding: 0 40px;
      margin-bottom: 60px; }
  .features .icons_row {
    padding-bottom: 30px; }
  .features .features_icon {
    display: flex;
    padding: 0 50px;
    margin-bottom: 30px; }
    .features .features_icon img {
      width: 40px;
      margin-right: 15px; }
    .features .features_icon .mobile {
      width: 30px; }
    .features .features_icon h2 {
      font-size: 16px;
      font-weight: 600; }
    .features .features_icon p {
      font-size: 12px;
      color: #929394;
      font-weight: 400; }
  .features .slider {
    display: flex; }
    .features .slider .slide {
      background-color: #fff;
      display: flex;
      margin: 0 20px;
      padding: 10px 10px;
      width: 580px;
      outline: none; }
      .features .slider .slide .quot1 {
        align-self: flex-start;
        color: #d3d3d3;
        font-size: 35px;
        padding-left: 20px; }
      .features .slider .slide .quottext {
        align-self: center;
        padding: 30px 0; }
        .features .slider .slide .quottext p {
          text-align: center;
          font-size: 28px;
          font-weight: 200; }
        .features .slider .slide .quottext .author {
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase; }
      .features .slider .slide .scott {
        padding: 30px 60px; }
      .features .slider .slide .quot2 {
        align-self: flex-end;
        color: #d3d3d3;
        font-size: 35px;
        padding-right: 20px; }

.photos {
  background-color: #f5f6f8;
  padding-top: 80px; }
  .photos .pictures {
    /* display: flex;
    flex-direction: column; */ }
    .photos .pictures .img {
      height: 370px;
      width: 100%; }
    .photos .pictures .picture {
      position: relative; }
      .photos .pictures .picture .photo_cont {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0; }
        .photos .pictures .picture .photo_cont a {
          text-decoration: none;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 700;
          color: #000;
          background-color: #26e6e6;
          padding: 10px 15px;
          border-radius: 3px; }
    .photos .pictures .img3 {
      height: 150px; }
    .photos .pictures .img4 {
      height: 320px; }
    .photos .pictures .img5 {
      height: 320px; }
    .photos .pictures .picture3 {
      margin: 40px 0; }
    .photos .pictures .picture5 {
      margin-top: 20px;
      margin-bottom: 70px; }
    .photos .pictures h2 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700; }
    .photos .pictures .picture:hover .photo_cont {
      opacity: 1;
      transition: .5s; }

.join_it {
  margin-top: 70px; }
  .join_it .join_text {
    text-align: center; }
    .join_it .join_text h1 {
      font-size: 69px;
      font-weight: 200;
      margin-bottom: 70px; }

.prices {
  background-color: #f5f6f8;
  padding-top: 50px; }
  .prices .price_column {
    text-align: center;
    padding: 0px 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .prices .price_column .price_text h3 {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
      padding-top: 40px; }
    .prices .price_column .price_text .price {
      font-size: 57px;
      font-weight: 900;
      color: #000;
      margin: 25px 0 25px; }
    .prices .price_column .price_text p {
      font-size: 12px;
      color: #929394;
      font-weight: 400;
      padding: 0 30px;
      line-height: 1.7;
      margin-bottom: 30px; }
    .prices .price_column .price_text button {
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      background-color: #f5f6f8;
      padding: 13px 45px;
      border-radius: 21px;
      border: none;
      outline: none;
      margin-bottom: 50px;
      cursor: pointer; }
    .prices .price_column .price_text .standart {
      margin-bottom: 41px; }
    .prices .price_column .price_text .pro {
      margin-bottom: 20px; }
  .prices .price_column:hover .price_text {
    background-color: #000;
    transition: .7s; }
  .prices .price_column:hover h3 {
    color: #fff;
    transition: .7s; }
  .prices .price_column:hover .price {
    color: #fff;
    transition: .7s; }
  .prices .price_column:hover button {
    background-color: #26e6e6;
    transition: .7s; }

.footer {
  background-color: #f5f6f8;
  background-image: url("../img/bg_footer.png");
  height: 100vh; }
  .footer .footer_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
  .footer .footer_title {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 80px; }
    .footer .footer_title h1 {
      font-size: 60px;
      font-weight: 900;
      text-transform: uppercase; }
  .footer .footer-text {
    background-color: #000;
    padding: 30px 20px;
    margin-bottom: 60px; }
    .footer .footer-text .logo {
      display: flex;
      justify-content: center; }
      .footer .footer-text .logo .foot_logo {
        width: 28px;
        height: 28px; }
    .footer .footer-text .footer_columns ul li {
      color: #bbbbbb;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 11px;
      margin-bottom: 20px; }
    .footer .footer-text .footer_contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 30px; }
      .footer .footer-text .footer_contacts .madeby {
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;
        margin-bottom: 5px; }
      .footer .footer-text .footer_contacts p {
        color: #8a8a8a;
        margin-bottom: 0; }
      .footer .footer-text .footer_contacts .website {
        font-size: 12px;
        margin-top: 55px; }
      .footer .footer-text .footer_contacts .footer_links {
        display: flex;
        margin-top: 10px; }
        .footer .footer-text .footer_contacts .footer_links li {
          margin-left: 27px; }
          .footer .footer-text .footer_contacts .footer_links li a {
            color: #FF6347; }
