@media(max-width: 480px) {
	.start .star .head-text h1 {
		font-size: 35px;
	}
	
	.start .star .head-text  {
		width: 250px;
	}

	.second .second_photos .photo {
		 height: 250px;
	}
	
	

	.fifth .column {
		 margin-top: 30px;
		 margin-bottom: 40px;
	}

	footer .foot {
      margin-top: 20px;
	}	

	footer .foot .ss .ff form .forms h3{
      margin-top: 20px;
	}	

	footer .lists{
      margin-top: 20px;
	}	

	footer .lists .list{
      margin-top: 20px;
	}	
}

@media(max-width: 780px) {
	.second .second_details {
         margin-top: 40px;
     }
     .second .second_details .det_wrap {
            margin-top: 30px;
        }

      .second .second_details .det_wrap  .det {
      	margin-top: 20px;
      }	
	}

	@media(max-width: 992px) {
		.second .second_photos .photo_3 {
		  background-image: none;
		  background-color: #bd8cbf;
		}
	}