$text_bg_w: #959595;
$main_color: #fff;



body {
   h1, h2, p, strong, h3, input, li {
      font-family: 'Open Sans', sans-serif;
   }
   p {
      font-size: 12px;
   }
}




.container {
   margin: 0 auto;
   width: 65%;
}


.start {
   height: 100vh;
   // background-image: url("../img/bg.jpg");
   background-size: cover;
  
  
   .star {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
   
   .head-text {
      width: 350px;
   
      h1 {
         font-size: 45px; 
         font-weight: 300;
         color: $main_color;
         margin-bottom: 15px;
         animation-duration: 2s;
      }
      p {
         color: $main_color;
         line-height: 1.7;
         animation-duration: 2s;
      }
   }
   .logo {
      padding-top: 35px;
      animation-duration: 2s;
      }
   }
 }


.second {
    height: auto;
    background-color: #fff;
   
   .right-wrap {
      display: flex;
      align-items: flex-end;
   }
   .rr {
      padding-top: 80px;
      h2 {
         font-size: 32px;
         font-weight: 300;
         color: #222626;
         }
       
      .left {  
         p {
            margin-top: 20px;
            color: $text_bg_w;
            line-height: 1.7;
         }
      }
      .right { 
        
         p {
            margin-top: 20px;
            color: $text_bg_w;
            line-height: 1.7;

          }
      }
   }
   .second_photos_1 {
      margin-top: 80px;
   }

   .second_photos {
      display: flex;
      flex-direction:row;
      justify-content: flex-start;
     
      .photo {
         
         height: 220px;
         background-color: red;
         h2 {
            color: $main_color;
            font-weight: 300;
            font-size: 20px;
            padding: 40px 0 20px 20px; 
         }
         p {
            color: $main_color;
            line-height: 1.7;
            padding: 0 10px 30px 20px;
         }
         strong {
            font-size: 13px;
            font-weight: 700;
            color: $main_color;
            padding-left: 20px;
         }
         
      } 
         .photo_1 {
            background-color: #f5989d;
         }
         .photo_2 {
            background-color: #615f7d;
         }
         .photo_3 {
            background-image: url("../img/1.jpg");

         }
         .photo_4 {
            width: 600px;
            background-image: url("../img/2.jpg");
         }
         .photo_5 {
            background-color: #82ca9c;

      }
   }

      .second_details {
         margin-top: 80px;
         h2 {
               font-size: 32px;
               font-weight: 300;
               color: #222626;    
         }
         .det_wrap {
            margin-top: 60px;
            .det {
               width: 200px;
              
               .caption {
                  font-weight: 600;
                  color: #67676d;
                  margin-bottom: 20px;
               }
               p {
                  color: $text_bg_w;
                  line-height: 1.7;
               }
            }
         }
      }
}

.third {
   display: flex;
   margin-top: 80px;
   height: 100vh;
   background-image: url("../img/bg2.jpg");
   background-size: cover;
   align-items: flex-end;

   .aaa {
      margin-bottom: 100px;
   }
  h1 {
         font-size: 45px; 
         font-weight: 300;
         color: $main_color;
         margin-bottom: 20px;
         line-height: 1.2;
      }
   p {
      color: $main_color;
      line-height: 1.7;
      margin-bottom: 15px;
      }
   strong {
      padding-top: 20px;
      font-size: 13px;
      font-weight: 700;
      color: $main_color;   
   }
}

.fourth {

   background-color: #82ca9c;
   h2 { 
      padding-top: 80px;
      padding-bottom: 50px;
      font-size: 32px;
      font-weight: 300;
       color: $main_color;  
   }
   .det_wrap4 {
      padding-bottom: 100px;
      .det4 {        
         .caption {
            font-weight: 600;
            margin-bottom: 20px;
         }
         p {
            color: $main_color;
            line-height: 1.7;
         }
         
      }
   }
}

.fifth {
   background-color: #f6f7fa;
   .team_plan {
      background-color: #fff;
      box-shadow: 0 0 62px rgba(0, 0, 0, 0.05);
      .mostpopular {
         margin: 35px 0 0 30px;
         width: 80px;
         background-color: #bd8cbf;
         margin-bottom: 15px;
         padding: 5px 7px;
         text-transform: uppercase;
         font-weight: 600;
         font-size: 9px;
         color: $main_color;
         border-radius: 5px;
         text-align: center;
      }
   }
   .column {
      margin-top: 80px;
      margin-bottom: 80px;
      h2 {
         padding-top: 5px;
         padding-left: 30px;
         font-size: 30px;
         font-weight: 300;
         color: #2e3b4e;  
      }
      p {
         padding: 15px 30px 25px;
         color: #8297a7; 
         line-height: 1.8;
         }
      button {
         text-transform: uppercase;
         color: $main_color; 
         font-size: 11px;
         letter-spacing: 2px;
         background-color: #82ca9c;
         border-style: none;
         border-radius: 2px;
         padding: 15px 15px;
         font-weight: 600;
         width: 130px;
         margin-left: 30px;
      }
      button:hover {
         background-color: #6bb8d0;
      }

      ul {
         padding: 15px 30px;
      }
      li {
         display: inline;
         color: #c5c5c5;
         font-size: 21px;
         padding-right: 8px;
         padding-bottom: 30px;
         
      }
     
      .legacy {
         width: 80px;
         margin: 35px 0 0 30px;
         background-color: #e1e1e1;
         margin-bottom: 15px;
         padding: 5px 7px;
         text-transform: uppercase;
         font-weight: 600;
         font-size: 9px;
         color: $main_color;
         border-radius: 5px;
         text-align: center;
      }

   }
}

footer {
   background-color: #192431;
   .foot {
      margin-top: 100px;
   }
   h3 {
      font-size: 11px;
      font-weight: 600;
      color: $main_color;
      padding-bottom: 20px;
   }
   p {
      font-size: 11px;
      color: $main_color;
      line-height: 1.8;
   }
   .spam {
      color: #57697f;
      width: 70%;
      margin-top: 10px;
   }
   .forms {
      input {
      display: inline-block;
      width: 80%;
      border: 1px solid #ccc;
      margin-top: 5px;
      line-height: 40px;
      text-indent: 10px;
      font-size: 12px;
      background-color: #fff;
      }
   }
   .lists {
      margin-top: 30px;
      padding-bottom: 130px;
   }

   .list {
      margin-left: 0px;
      li {
         list-style-type: none;
         color: #f6f7fa;
         font-size: 12px;
         font-weight: 300;
         margin-bottom: 10px;

       }
      }
   
}